<v-container fluid>

    <v-row>
        <v-col cols="12">

            <v-expansion-panels
                multiple
                v-model="project.panels.search"
            >
            <v-expansion-panel>
                <v-expansion-panel-header>프로젝트 목록</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-form>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-text-field
                                dense
                                outlined
                                label="프로젝트명"
                                v-model="project.query.name"
                                @keydown.enter="search();"
                            ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.dataTable.jobType"
                                label="직종"
                                v-model="project.query.jobType"
                                @keydown.enter="search();"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.dataTable.career"
                                label="학위"
                                v-model="project.query.career"
                                @keydown.enter="search();"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-text-field
                                dense
                                outlined
                                label="기간"
                                v-model="project.query.period"
                                @keydown.enter="search();"
                            ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.dataTable.addr1"
                                label="시"
                                v-model="project.query.addr1"
                                @keydown.enter="search();"
                            ></v-select>
                            </v-col>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.dataTable.addr2"
                                label="구"
                                v-model="project.query.addr2"
                                @keydown.enter="search();"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.dataTable.needPerson"
                                label="필요인원수"
                                v-model="project.query.needPerson"
                                @keydown.enter="search();"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.dataTable.status"
                                label="현황"
                                v-model="project.query.status"
                                @keydown.enter="search();"
                            ></v-select>
                            <v-btn
                                class="primary"
                                @click="search();"
                            >검색</v-btn>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>

    <v-row>
        <v-col cols="12">
            <v-expansion-panels
                multiple
                v-model="project.panels.list"
            >
            <v-expansion-panel>
                <v-expansion-panel-header></v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-data-table
                            dense
                            fixed-header
                            hide-default-footer
                            height="450px"
                            :headers="project.dataTable.headers"
                            :items="project.dataTable.items"
                            :loading="project.dataTable.loading"
                            :server-itmes-length="project.dataTable.serverItemsLength"
                            :page.sync="project.dataTable.page"
                            :items-per-page.sync="project.dataTable.itemsPerPage"
                            @page-count="project.pagination.length = $event"
                            @dbclick:row
                            >

                            <template v-slot:item.name="{ item }">
                                <v-btn
                                text
                                >{{item.name}}</v-btn>
                            </template>
                        </v-data-table>
                        <v-pagination
                            class="mt-2"
                            v-model="user.dataTable.page"
                            :length="user.pagination.length"
                            :total-visible="user.pagination.totalVisible"
                             ></v-pagination>
<!--                             @input="handlePageChange"-->
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>
</v-container>