<v-container fluid>

    <v-row>
        <v-col cols="12">
            <v-expansion-panels
                multiple
                v-model="project.panels.search"
            >
                <v-expansion-panel>
                    <v-expansion-panel-header>프로젝트 검색</v-expansion-panel-header>
                    <v-expansion-panel-content
                        class="overflow-y-auto"
                        style="max-height: 600px"
                        >
                        <v-form>
                            <v-container>
                                <v-row>
                                    <v-col cols="4">
                                        <v-text-field
                                            dense
                                            label="프로젝트명"
                                            v-model="project.query.name"
                                            @keyup.enter="search()"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="3">
                                        <date-picker-component
                                            dense
                                            hide-details
                                            append-icon="mdi-calendar"
                                            label="시작기간"
                                            v-model="project.query.sterm"
                                        ></date-picker-component>
                                    </v-col>
                                    <v-col cols="3">
                                        <v-select
                                            dense
                                            label="지역(시/도)"
                                            :items="select.local.items"
                                            v-model="project.query.local"
                                            @keyup.enter="search()"
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="2">
                                        <v-select
                                            dense
                                            label="지역(구/군)"
                                            :items="select.detailLocal.items"
                                            v-model="project.query.detailLocal"
                                            @keyup.enter="search()"
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="3">
                                        <v-select
                                            dense
                                            label="직종"
                                            hide-details="auto"
                                            :items="select.job.items"
                                            v-model="project.query.job"
                                            @keyup.enter="search()"
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="3">
                                        <v-text-field
                                            dense
                                            label="기술"
                                            multiple
                                            hide-details="auto"
                                            v-model="project.query.skill"
                                            @keyup.enter="search()"
                                        ></v-text-field>
                                    </v-col>

                                    <v-col cols="3">
                                        <v-select
                                            dense
                                            label="학위"
                                            :items="select.education.items"
                                            v-model="project.query.degree"
                                            @keyup.enter="search()"
                                        >
<!--                                             <template v-slot:prepend-item>
                                                <v-list-item
                                                    ripple
                                                    @click="toggleDegree"
                                                >
                                                    <v-list-item-action>
                                                        <v-icon :color="project.query.degree > 0 ? 'indigo darken-4' : ''">{{ iconDegree }}</v-icon>
                                                    </v-list-item-action>
                                                    <v-list-item-content>
                                                        <v-list-item-title>전체</v-list-item-title>
                                                    </v-list-item-content>
                                                </v-list-item>
                                                <v-divider class="mt-2"></v-divider>
                                            </template>
 -->
                                         </v-select>
                                    </v-col>
                                    <v-col cols="3">
                                        <v-select
                                            dense
                                            label="현황"
                                            :items="select.status.items"
                                            v-model="project.query.status"
                                            @keyup.enter="search()"
                                        >
                                        </v-select>
                                    </v-col>
                                    <v-col cols="2">
                                        <v-select
                                            dense
                                            label="경력"
                                            suffix="년"
                                            :items="project.dataTable.career1"
                                            v-model="project.query.career1"
                                            @keyup.enter="search()"
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="2">
                                        <v-select
                                            dense
                                            label="경력"
                                            suffix="월"
                                            :items="project.dataTable.career2"
                                            v-model="project.query.career2"
                                            @keyup.enter="search()"
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="4">
                                        <v-text-field
                                            dense
                                            label="필요인원수"
                                            suffix="명"
                                            v-model="project.query.prsnl"
                                            @keyup.enter="search()"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="4">
                                        <v-text-field
                                            dense
                                            label="월 급여"
                                            suffix="만원"
                                            v-model="project.query.salary"
                                            @keyup.enter="search()"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" class="text-right">
                                        <v-btn
                                            class="primary"
                                            @click="search()"
                                        >검색</v-btn>
                                        <v-btn
                                            class="secondary"
                                            @click="reset()"
                                        >초기화</v-btn>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>

     <v-row>
        <v-col cols="12">
             <v-expansion-panels
                multiple
                v-model="project.panels.list"
            >
                 <v-expansion-panel>
                    <v-expansion-panel-header>목록</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <data-table-custom-component
                            :show-select="true"
                            item-key="id"
                            :headers="project.dataTable.headers"
                            :items="project.dataTable.items"
                            :totalRows="project.dataTable.totalRows"
                            :page.sync="project.dataTable.options.page"
                            :itemsPerPage.sync="project.dataTable.options.itemsPerPage"
                            :sortBy.sync="project.dataTable.options.sortBy"
                            :sortDesc.sync="project.dataTable.options.sortDesc"
                            :groupBy.sync="project.dataTable.options.groupBy"
                            :groupDesc.sync="project.dataTable.options.groupDesc"
                            :multiSort.sync="project.dataTable.options.multiSort"
                            :mustSort.sync="project.dataTable.options.mustSort"
                            :loading="project.dataTable.loading"
                            @remove="deleteProjectInfoList"
                            :import-hide="true"
                            @click:edit="editProjectInfo"
                            @click:row="detailProjectInfo"
                            @add="addProjectInfo"
                        >
                        </data-table-custom-component>
                    </v-expansion-panel-content>
                </v-expansion-panel>

<!--                 <v-expansion-panel>
                    <v-expansion-panel-header>목록</v-expansion-panel-header>
                    <v-expansion-panel-content>
                       <v-row class="my-1">
                            <v-col class="d-flex justify-start align-center">
                                <div style="width: 200px;">
                                    <h3>전체{{project.dataTable.totalRows}}건</h3>
                                </div>
                                <div style="width: 140px;" class="ml-auto">
                                    <v-select
                                        dense
                                        font-size="5px"
                                        outlined
                                        hide-details="auto"
                                        v-model="project.dataTable.itemsPerPage"
                                        :items="project.itemsPerPageItems"
                                    >
                                    </v-select>
                                </div>
                            </v-col>
                        </v-row>
                        <v-data-table
                            fixed-header
                            hide-default-footer
                            height="700px"
                            :headers="project.dataTable.headers"
                            :items="project.dataTable.items"
                            :loading="project.dataTable.loading"
                            :server-items-length="project.dataTable.serverItemsLength"
                            :page.sync="project.dataTable.page"
                            :items-per-page.sync="project.dataTable.itemsPerPage"
                            @page-count="project.pagination.length = $event"
                            show-select
                            item-key="id"
                            v-model=project.selected
                            >

                            <template v-slot:item.actions="{item}">
                                <v-icon
                                    small
                                    class="mr-2"
                                    @click="editProjectInfo(item.id)"
                                >mdi-pencil</v-icon>
                            </template>

                           <template v-slot:item.name="{ item }">
                                <v-btn
                                    text
                                    @click="DetailProjectInfo(item)"
                                >{{ item.name }}</v-btn>
                            </template>

                        </v-data-table>
                        <v-pagination
                            class="mt-2"
                            v-model="project.dataTable.page"
                            :length="project.pagination.length"
                            :total-visible="project.pagination.totalVisible"
                             ></v-pagination>
                        <v-row>
                            <v-col
                                 cols="12"
                                 class="text-right"
                            >
                            <v-btn
                              outlined
                              class="ma-2"
                              color="primary"
                              to="/main/admin/project-info-form"
                            >추가하기</v-btn>
                            <v-btn
                              outlined
                              class="ma-2"
                              color="error"
                              @click="deleteProjectInfoList"
                            >삭제하기</v-btn>
                            </v-col>
                        </v-row>


                    </v-expansion-panel-content>
                </v-expansion-panel>
 -->
            </v-expansion-panels>
        </v-col>
    </v-row>

</v-container>