<v-container fluid>

    <v-row>
        <v-col cols="12">
            <v-expansion-panels
                multiple
                v-model="project.panels.search"
            >
                <v-expansion-panel>
                    <v-expansion-panel-header>프로젝트 검색</v-expansion-panel-header>
                    <v-expansion-panel-content
                        class="overflow-y-auto"
                        style="max-height: 600px"
                        >
                        <v-form>
                            <v-row>
                                <v-col
                                    cols="5"
                                >
                                    <v-text-field
                                        dense
                                        label="프로젝트명"
                                        v-model="project.query.name"
                                    ></v-text-field>
                                </v-col>
                                 <v-col
                                    cols="3"
                                >
                                  <v-select
                                      dense
                                      outlined
                                      :items="project.dataTable.jobTypeItems"
                                      label="직종"
                                    v-model="project.query.job"
                                 ></v-select>
                                 </v-col>
                                 <v-col
                                    cols="3"
                                >
                                    <v-text-field
                                      dense
                                      label="기술"
                                    v-model="project.query.skill"
                                 ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="3"
                                >
                                  <v-select
                                      dense
                                      outlined
                                      label="학위"
                                      :items="project.dataTable.education"
                                    v-model="project.query.degree"
                                 ></v-select>
                                 </v-col>
                                <v-col
                                    cols="2"
                                >
                                    <v-select
                                        outlined
                                        dense
                                        menu-props="auto"
                                        :items="project.dataTable.career"
                                        label="경력"
                                        v-model="project.query.career"
                                    ></v-select>
                                </v-col>
                                    <v-col
                                    cols="3"
                                   >
                                        <date-picker-component
                                     dense
                                     label="시작 기간"
                                     append-icon="mdi-calendar"
                                     v-model="project.query.sterm"
                                   ></date-picker-component>
                                  </v-col>
                                     <v-col
                                       cols="3"
                                  >
                                    <date-picker-component
                                        dense
                                        label="종료 기간"
                                        append-icon="mdi-calendar"
                                           v-model="project.query.eterm"
                                  ></date-picker-component>
                                </v-col>
                                <v-col
                                        cols="3"
                                    >
                                    <v-select
                                        dense
                                        outlined
                                        :items="project.dataTable.address"
                                        label="지역(시)"
                                        v-model="project.dataTable.addressValue"
                                    ></v-select>
                                    </v-col>
                                    <v-col
                                        cols="3"
                                    >
                                    <v-select
                                        dense
                                        outlined
                                        :items="project.dataTable.addressSelect"
                                        label="지역(구)"
                                        v-model="project.query.place"
                                    ></v-select>
                                    </v-col>
                               <v-col
                                    cols="3"
                                >
                                    <v-text-field
                                        dense
                                        suffix="만원"
                                        label="희망 월급여"
                                        v-model="project.query.slary"
                                    ></v-text-field>
                                </v-col>
                                <v-col
                                        cols="2"
                                    >
                                        <v-select
                                            outlined
                                            dense
                                            menu-props="auto"
                                            :items="project.dataTable.status"
                                            label="현황"
                                            v-model="project.query.status"
                                        ></v-select>
                                    </v-col>
                               </v-row>
                               <v-row>
                                <v-col
                                    cols="12"
                                    class="text-right"
                                >
                                    <v-btn
                                        class="primary"
                                        @click="serarch()"
                                    >검색</v-btn>
                                    <v-btn
                                        class="secondary"
                                        @click="reset()"
                                    >초기화</v-btn>
                                </v-col>
                            </v-row>

                        </v-form>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>

     <v-row>
        <v-col cols="12">
             <v-expansion-panels
                multiple
                v-model="project.panels.list"
            >
                <v-expansion-panel>
                    <v-expansion-panel-header>목록</v-expansion-panel-header>
                    <v-expansion-panel-content>
                       <v-row class="my-1">
                            <v-col class="d-flex justify-start align-center">
                                <div style="width: 200px;">
                                    <h3>전체{{project.dataTable.totalRows}}건</h3>
                                </div>
                                <div style="width: 140px;" class="ml-auto">
                                    <v-select
                                        dense
                                        font-size="5px"
                                        outlined
                                        hide-details="auto"
                                        v-model="project.dataTable.itemsPerPage"
                                        :items="project.itemsPerPageItems"
                                    >
                                    </v-select>
                                </div>
                            </v-col>
                        </v-row>
                        <v-row></v-row>>
                        <v-data-table
                            fixed-header
                            hide-default-footer
                            height="700px"
                            :headers="project.dataTable.headers"
                            :items="project.dataTable.items"
                            :loading="project.dataTable.loading"
                            :server-items-length="project.dataTable.serverItemsLength"
                            :page.sync="project.dataTable.page"
                            :items-per-page.sync="project.dataTable.itemsPerPage"
                            @page-count="project.pagination.length = $event"
                            show-select
                            item-key="adminProjId"
                            v-model=project.selected
                            >
                            <template v-slot:item.actions="{item}">
                                <v-icon
                                    small
                                    class="mr-2"
                                    @click="editProjectInfo(item.adminProjId)"
                                >mdi-pencil</v-icon>
                            </template>

                           <template v-slot:item.name="{ item }">
                                <v-btn
                                    text
                                    @click="DetailProjectInfo(item)"
                                >{{ item.name }}</v-btn>
                            </template>

                        </v-data-table>
                        <v-pagination
                            class="mt-2"
                            v-model="project.dataTable.page"
                            :length="project.pagination.length"
                            :total-visible="project.pagination.totalVisible"
                             ></v-pagination>
                        <v-row>
                            <v-col
                                 cols="12"
                                 class="text-right"
                            >
                            <v-btn
                              outlined
                              class="ma-2"
                              color="primary"
                              to="/main/admin/project-info-form"
                            >추가하기</v-btn>
                            <v-btn
                              outlined
                              class="ma-2"
                              color="error"
                              @click="deleteProjectInfoList"
                            >삭제하기</v-btn>
                            </v-col>
                        </v-row>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>

</v-container>