<div>
    <data-table-custom-component
        :show-select="true"
        :headers="career.dataTable.headers"
        :items="career.dataTable.items"
        :totalRows="career.dataTable.totalRows"
        :page.sync="career.dataTable.options.page"
        :itemsPerPage.sync="career.dataTable.options.itemsPerPage"
        :sortBy.sync="career.dataTable.options.sortBy"
        :sortDesc.sync="career.dataTable.options.sortDesc"
        :groupBy.sync="career.dataTable.options.groupBy"
        :groupDesc.sync="career.dataTable.options.groupDesc"
        :multiSort.sync="career.dataTable.options.multiSort"
        :mustSort.sync="career.dataTable.options.mustSort"
        :loading="career.dataTable.loading"
    ></data-table-custom-component>
</div>