<template v-solt:activator="{ on }">
    <div>
        <div
            ref="searchWindow"
            :style="searchWindow"
            style="border:1px solid;width:500px;margin:5px 0;position:relative"
        >
            <img
                src="//t1.daumcdn.net/postcode/resource/images/close.png"
                id="btnFoldWrap"
                style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1"
                @click="searchWindow.display = 'none'"
                alt="close"
            >
        </div>
        <input type="text" placeholder="우편번호" v-model="postcode">
        <input type="button" value="우편번호 찾기" @click="execDaumPostcode">
        <br>
        <input type="text" v-model="address" placeholder="주소">
        <br>
        <input type="text" v-model="extraAddress" ref="extraAddress" placeholder="상세주소">
    </div>
</template>