<div>
    <v-row>
        <v-col cols="12">
            <v-card>
                <v-card-title>Form</v-card-title>
                <v-card-text>
                    <v-form>
                        <v-text-field
                            label="First name"
                            v-model="person.firstName"
                        ></v-text-field>
                        <v-text-field
                            label="Middle name"
                            v-model="person.middleName"
                        ></v-text-field>
                        <v-text-field
                            label="Last name"
                            v-model="person.lastName"
                        ></v-text-field>
                        <date-picker-component
                            label="Birth date"
                            v-model="person.birthDate"
                        ></date-picker-component>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        class="red"
                        v-show="person.id"
                        @click="deletePerson();"
                    >Delete</v-btn>
                    <v-btn
                        class="primary"
                        @click="savePerson();"
                    >Save</v-btn>
                    <v-btn
                        class="secondary"
                        @click="$router.back();"
                    >Cancel</v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
</div>