<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.metasoft.ito.api.common.mapper.CodeMapper">

    <sql id="selectFrom">
        SELECT
            `code`.`id`,
            `code`.`parent_id`,
            `code`.`name`,
            `code`.`value`,
            `code`.`ranking`,
            `code`.`status`,
            `code`.`created_date`,
            `code`.`last_modified_date`
        FROM
            `tb_code` `code`
    </sql>

    <sql id="where">
        <where>
            <if test="codeParamDto.parentId != null and codeParamDto.parentId != ''">
                AND `code`.`parent_id` = #{codeParamDto.parentId}
            </if>
            <if test="codeParamDto.status != null and codeParamDto.status != ''">
                AND `code`.`status` = #{codeParamDto.status}
            </if>
            <if test="codeParamDto.idStartLike != null and codeParamDto.idStartLike != ''">
                AND `code`.`id` LIKE CONCAT (#{codeParamDto.idStartLike}, '%')
            </if>
            <if test="codeParamDto.skill != null and codeParamDto.skill != ''">
                AND `code`.`id` LIKE
                    CONCAT ((SELECT id FROM `tb_code` WHERE `name` = #{codeParamDto.skill} AND `parent_id` = '004' LIMIT 1), '%')
            </if>
            <if test="codeParamDto.detailLocal != null and codeParamDto.detailLocal != ''">
                AND `code`.`id` LIKE
                CONCAT ((SELECT id FROM `tb_code` WHERE `name` = #{codeParamDto.detailLocal} AND `parent_id` = '006' LIMIT 1), '%')
            </if>
            <if test="codeParamDto.nameLike != null and codeParamDto.nameLike != ''">
                AND `code`.`name` LIKE CONCAT('%',#{codeParamDto.nameLike},'%')
            </if>
        </where>
    </sql>

    <resultMap id="codeResultMap" type="kr.co.metasoft.ito.api.common.entity.CodeEntity">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="name" column="name"/>
        <result property="value" column="value"/>
        <result property="ranking" column="ranking"/>
        <result property="status" column="status"/>
        <result property="createdDate" column="created_date"/>
        <result property="lastModifiedDate" column="last_modified_date"/>
    </resultMap>

    <select
        id="selectCodeList"
        parameterType="java.util.Map"
        resultMap="codeResultMap"
    >
        <include refid="PageFragment.sortStart"/>
        <include refid="selectFrom"/>
        <include refid="where"/>
        <include refid="PageFragment.sortEnd"/>
        <include refid="PageFragment.limitOffset"/>
    </select>

    <select
        id="selectCodeListCount"
        parameterType="java.util.Map"
        resultType="java.lang.Integer"
    >
        <include refid="PageFragment.countStart"/>
        <include refid="selectFrom"/>
        <include refid="where"/>
        <include refid="PageFragment.countEnd"/>
    </select>

    <select
        id="selectCode"
        parameterType="java.util.Map"
        resultMap="codeResultMap"
    >
        <include refid="selectFrom"/>
        WHERE
            `code`.`id` = #{id}
    </select>

</mapper>