<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.metasoft.ito.api.common.mapper.DataUploadMapper">

    <sql id="selectFrom">
        SELECT
            `person`.`id`,
            `person`.`name`,
            `person`.`phone_number`,
            `person`.`job_type`,
            `person`.`input_status`,
            `person`.`certificate_status`,
            `person`.`skill`,
            `person`.`career`,
            `person`.`pay`,
            `person`.`workable_day`,
            `person`.`postcode`,
            `person`.`address`,
            `person`.`detail_address`,
            `person`.`email`,
            `person`.`website`,
            `person`.`education`,
            `person`.`birth_date`,
            `person`.`created_date`,
            `person`.`last_modified_date`
        FROM
            `tb_person` `person`
    </sql>


    <sql id="where">
        <where>
        </where>
    </sql>



    <!--  필요함  -->
    <!--
           NEXTVAL(upload_file_order_by_cmdb)
     -->
<!--     <select id="selectUploadFileOrder"
        resultType="Long">
        select
            NEXTVAL(id_by_person)
    </select>
 -->

    <!-- 필요함 -->
    <insert id="insertUploadFileOrder" parameterType="java.util.Map">
        insert into `tb_person`(
            `id`,
            `name`,
            `phone_number`,
            `job_type`,
            `input_status`,
            `certificate_status`,
            `skill`,
            `career`,
            `pay`,
            `workable_day`,
            `postcode`,
            `address`,
            `detail_address`,
            `email`,
            `website`,
            `education`,
            `birth_date`,
            `created_date`,
            `last_modified_date`
        )
        values
        <foreach collection="list" item="item" index="idx" open="(" separator="),(" close=")">
            #{item.id},
            #{item.name},
            #{item.phoneNumber},
            #{item.jobType},
            #{item.inputStatus},
            #{item.certificateStatus},
            #{item.skill},
            #{item.career},
            #{item.pay},
            #{item.workableDay},
            #{item.postcode},
            #{item.address},
            #{item.detailAddress},
            #{item.email},
            #{item.website},
            #{item.education},
            #{item.birthDate},
            NOW(),
            NOW()
        </foreach>
        ON DUPLICATE KEY UPDATE
            `id` = VALUES(`id`),
            `name` = VALUES(`name`),
            `phone_number` = VALUES(`phone_number`) ,
            `job_type` = VALUES(`job_type`) ,
            `input_status` = VALUES(`input_status`) ,
            `skill` = VALUES(`skill`) ,
            `career` = VALUES(`career`) ,
            `pay` = VALUES(`pay`) ,
            `workable_day` = VALUES(`workable_day`) ,
            `postcode` = VALUES(`postcode`) ,
            `address` = VALUES(`address`) ,
            `detail_address` = VALUES(`detail_address`) ,
            `email` = VALUES(`email`) ,
            `website` = VALUES(`website`) ,
            `education` = VALUES(`education`) ,
            `birth_date` = VALUES(`birth_date`)
    </insert>


    <insert id="insertUploadFileOrderByCmdbOrigin"
        parameterType="java.util.Map">

        insert into `tb_cmdb_origin`(
            `UPLOAD_FILE_ORDER` ,
            `FILE_ROW_NUM` ,
            `UPLOAD_DAT` ,
            `ORIGIN_FILE_NM` ,
            `OFFICIAL_WORK_NAME` ,
            `EQUIP_USE_CLASS` ,
            `INSTALL_PLACE` ,
            `SERVER_CLASS` ,
            `USAGE_STATUS` ,
            `EQUIP_DIVISION` ,
            `HOST_NAME` ,
            `PLATFORM` ,
            `OS_NAME` ,
            `OS_VERSION` ,
            `SYSTEM_CLASS` ,
            `INFRA_MANAGER_MAIN` ,
            `INFRA_MANAGER_SUB` ,
            `INTRODUCTION_METHOD` ,
            `OS_BACKUP` ,
            `ASSET_STATUS` ,
            `CREATED_DATE`
        )
        values
        <foreach collection="list" item="item" index="idx" open="(" separator="),(" close=")">
            #{item.uploadFileOrder},
            #{item.fileRowNum},
            #{item.uploadDat},
            #{item.orginFileNm},
            #{item.officialWorkName},
            #{item.equipUseClass},
            #{item.installPlace},
            #{item.serverClass},
            #{item.usageStatus},
            #{item.equipDivision},
            #{item.hostName},
            #{item.platform},
            #{item.osName},
            #{item.osVersion},
            #{item.systemClass},
            #{item.infraManagerMain},
            #{item.infraManagerSub},
            #{item.introductionMethod},
            #{item.osBackup},
            #{item.assetStatus},
            NOW()
        </foreach>
        ON DUPLICATE KEY UPDATE
            `UPLOAD_DAT` = VALUES(`UPLOAD_DAT`),
            `ORIGIN_FILE_NM` = VALUES(`ORIGIN_FILE_NM`),
            `OFFICIAL_WORK_NAME` = VALUES(`OFFICIAL_WORK_NAME`) ,
            `EQUIP_USE_CLASS` = VALUES(`EQUIP_USE_CLASS`) ,
            `INSTALL_PLACE` = VALUES(`INSTALL_PLACE`) ,
            `SERVER_CLASS` = VALUES(`SERVER_CLASS`) ,
            `USAGE_STATUS` = VALUES(`USAGE_STATUS`) ,
            `EQUIP_DIVISION` = VALUES(`EQUIP_DIVISION`) ,
            `HOST_NAME` = VALUES(`HOST_NAME`) ,
            `PLATFORM` = VALUES(`PLATFORM`) ,
            `OS_NAME` = VALUES(`OS_NAME`) ,
            `OS_VERSION` = VALUES(`OS_VERSION`) ,
            `SYSTEM_CLASS` = VALUES(`SYSTEM_CLASS`) ,
            `INFRA_MANAGER_MAIN` = VALUES(`INFRA_MANAGER_MAIN`) ,
            `INFRA_MANAGER_SUB` = VALUES(`INFRA_MANAGER_SUB`) ,
            `INTRODUCTION_METHOD` = VALUES(`INTRODUCTION_METHOD`) ,
            `OS_BACKUP` = VALUES(`OS_BACKUP`) ,
            `ASSET_STATUS` = VALUES(`ASSET_STATUS`)
    </insert>


    <insert id="insertUploadFileOrderByCmdb"
        parameterType="java.util.Map">
         insert into tb_cmdb (
            `upload_file_order`,
            `file_row_num`,
            `work_division`,
            `upload_dat`,
               `origin_file_nm`,
            `official_work_name`,
            `equip_use_class`,
            `install_place`,
            `server_class`,
            `usage_status`,
            `equip_division`,
            `host_name`,
            `platform`,
            `os_name`,
            `os_version`,
            `system_class`,
            `infra_manager_main`,
            `infra_manager_sub`,
            `introduction_method`,
            `os_backup`,
            `asset_status`,
            `created_date`
        )
            select
                b.`upload_file_order`,
                b.`file_row_num`,
                (
                    CASE
                        WHEN
                            c.work_division IS NOT null
                        then
                            c.work_division
                        WHEN
                            b.INSTALL_PLACE = '부평4F'
                        THEN
                            'cisp'
                        WHEN
                            b.INSTALL_PLACE = '부평5F'
                        THEN
                            'hidc'
                        WHEN
                            b.INSTALL_PLACE IN ('천안4F', '천안5F')
                        THEN
                            'dr'
                    END
                ) AS work_division,
                b.`upload_dat`,
                   b.`origin_file_nm`,
                b.`official_work_name`,
                b.`equip_use_class`,
                b.`install_place`,
                b.`server_class`,
                b.`usage_status`,
                b.`equip_division`,
                REGEXP_SUBSTR(b.`host_name` , '^[^.]+') AS host_name,
                b.`platform`,
                b.`os_name`,
                b.`os_version`,
                b.`system_class`,
                b.`infra_manager_main`,
                b.`infra_manager_sub`,
                b.`introduction_method`,
                b.`os_backup`,
                b.`asset_status`,
                b.`created_date`
            from
                tb_cmdb_origin b
            LEFT OUTER JOIN
                (
                    SELECT
                        DISTINCT
                            client_name,
                            work_division
                    FROM
                    tb_policy_client AS c
                ) AS c
                ON
                    b.HOST_NAME = c.client_name
            WHERE
                upload_file_order = #{uploadFileOrder}
            AND
                usage_status in ('운영장비', '임시장비(반입)')
            AND
                SYSTEM_CLASS IN ('일반서버', '파티션', '파티션_VM' , 'PC',  '어플라이언스')
            AND
                PLATFORM NOT IN ('NA' , '')
            AND
                INSTALL_PLACE IN ('부평4F', '부평5F' , '천안4F', '천안5F')
            ON DUPLICATE KEY UPDATE
            `upload_dat` = b.`upload_dat`,
               `origin_file_nm` = b.`origin_file_nm`,
            `official_work_name` = b.`official_work_name`,
            `equip_use_class` = b.`equip_use_class`,
            `install_place` = b.`install_place`,
            `server_class` = b.`server_class`,
            `usage_status` = b.`usage_status`,
            `equip_division` = b.`equip_division`,
            `host_name` = b.`host_name`,
            `platform` = b.`platform`,
            `os_name` = b.`os_name`,
            `os_version` = b.`os_version`,
            `system_class` = b.`system_class`,
            `infra_manager_main` = b.`infra_manager_main`,
            `infra_manager_sub` = b.`infra_manager_sub`,
            `introduction_method` = b.`introduction_method`,
            `os_backup` = b.`os_backup`,
            `asset_status` = b.`asset_status`,
            `created_date` = b.`created_date`
    </insert>


</mapper>