<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.metasoft.ito.api.common.mapper.ProjectSkillMapper">

    <sql id="selectFrom">
        SELECT
            `project_skill`.`project_id`,
            `project_skill`.`skill`,
            `project_skill_project`.`id` AS `project_skill_project_id`,
            `project_skill_project`.`name` AS `project_skill_project_name`,
            `project_skill_project`.`job` AS `project_skill_project_job`,
            `project_skill_project`.`skill` AS `project_skill_project_skill`,
            `project_skill_project`.`career` AS `project_skill_project_career`,
            `project_skill_project`.`degree` AS `project_skill_project_degree`,
            `project_skill_project`.`sterm` AS `project_skill_project_sterm`,
            `project_skill_project`.`eterm` AS `project_skill_project_eterm`,
            `project_skill_project`.`place` AS `project_skill_project_place`,
            `project_skill_project`.`prsnl` AS `project_skill_project_prsnl`,
            `project_skill_project`.`status` AS `project_skill_project_status`,
            `project_skill_project`.`salary` AS `project_skill_project_salary`,
            `project_skill_project`.`term` AS `project_skill_project_term`,
            `project_skill_project`.`created_date` AS `project_skill_project_created_date`,
            `project_skill_project`.`last_modified_date` AS `project_skill_project_last_modified_date`,
            `project_skill_skill`.`id` AS `project_skill_skill_id`,
            `project_skill_skill`.`parent_id` AS `project_skill_skill_parent_id`,
            `project_skill_skill`.`name` AS `project_skill_skill_name`,
            `project_skill_skill`.`value` AS `project_skill_skill_value`,
            `project_skill_skill`.`ranking` AS `project_skill_skill_ranking`,
            `project_skill_skill`.`status` AS `project_skill_skill_status`,
            `project_skill_skill`.`created_date` AS `project_skill_skill_created_date`,
            `project_skill_skill`.`last_modified_date` AS `project_skill_skill_last_modified_date`
        FROM
            `tb_project_skill` `project_skill`
        LEFT OUTER JOIN
            `tb_proj` `project_skill_project`
        ON
            `project_skill`.`project_id` = `project_skill_project`.`id`
        LEFT OUTER JOIN
            `tb_code` `project_skill_skill`
        ON
            `project_skill`.`skill` = `project_skill_skill`.`id`
    </sql>

    <sql id="where">
        <where>
            <if test="projectSkillParamDto.projectId != null">
                AND `project_skill`.`project_id` = #{projectSkillParamDto.projectId}
            </if>
            <if test="projectSkillParamDto.skill != null">
                AND `project_skill`.`skill` = #{projectSkillParamDto.skill}
            </if>
        </where>
    </sql>

    <resultMap id="projectSkillResultMap" type="kr.co.metasoft.ito.api.common.entity.ProjectSkillEntity">
        <result property="projectId" column="project_id"/>
        <result property="skill" column="skill"/>
        <association property="project" columnPrefix="project_skill_project_">
            <result property="id" column="id" />
            <result property="name" column="name" />
            <result property="job" column="job" />
            <result property="skill" column="skill" />
            <result property="career" column="career" />
            <result property="degree" column="degree" />
            <result property="sterm" column="sterm" />
            <result property="eterm" column="eterm" />
            <result property="place" column="place" />
            <result property="prsnl" column="prsnl" />
            <result property="status" column="status" />
            <result property="salary" column="salary" />
            <result property="term" column="term" />
            <result property="createdDate" column="created_date" />
            <result property="lastModifiedDate" column="last_modified_date" />
        </association>
        <association property="code" columnPrefix="project_skill_skill_">
            <result property="id" column="id"/>
            <result property="parentId" column="parent_id"/>
            <result property="name" column="name"/>
            <result property="value" column="value"/>
            <result property="ranking" column="ranking"/>
            <result property="status" column="status"/>
            <result property="createdDate" column="created_date"/>
            <result property="lastModifiedDate" column="last_modified_date"/>
        </association>
    </resultMap>

    <select
        id="selectProjectSkillList"
        parameterType="java.util.Map"
        resultMap="projectSkillResultMap"
    >
        <include refid="PageFragment.sortStart"/>
        <include refid="selectFrom"/>
        <include refid="where"/>
        <include refid="PageFragment.sortEnd"/>
        <include refid="PageFragment.limitOffset"/>
    </select>

    <select
        id="selectProjectSkillListCount"
        parameterType="java.util.Map"
        resultType="java.lang.Integer"
    >
        <include refid="PageFragment.countStart"/>
        <include refid="selectFrom"/>
        <include refid="where"/>
        <include refid="PageFragment.countEnd"/>
    </select>

    <select
        id="selectProjectSkill"
        parameterType="java.util.Map"
        resultMap="projectSkillResultMap"
    >
        <include refid="selectFrom"/>
        WHERE
            `project_skill`.`project_id` = #{projectId}
            AND `project_skill`.`skill` = #{skill}
    </select>

</mapper>