<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.metasoft.ito.api.common.mapper.ProjectMapper">
    <sql id="selectFrom">
        SELECT
            `proj`.`admin_proj_id`,
            `proj`.`name`,
            `proj`.`job`,
            `proj`.`skill`,
            `proj`.`career`,
            `proj`.`degree`,
            `proj`.`sterm`,
            `proj`.`eterm`,
            `proj`.`place`,
            `proj`.`prsnl`,
            `proj`.`status`,
            `proj`.`salary`,
            `proj`.`term`
        FROM
            `tb_proj` `proj`
    </sql>

    <sql id="where">
        <where>
            <if test="projectParamDto.nameLike != null and projectParamDto.nameLike != ''">
                AND `name` LIKE CONCAT('%', #{projectParamDto.nameLike}, '%')
            </if>
            <if test="projectParamDto.stermStart != null">
                AND `sterm` &gt;= #{projectParamDto.stermStart}
            </if>
            <if test="projectParamDto.stermEnd != null">
                AND `sterm` &lt;= #{projectParamDto.stermEnd}
            </if>
            <if test="projectParamDto.etermStart != null">
                AND `eterm` &gt;= #{projectParamDto.etermStart}
            </if>
            <if test="projectParamDto.etermEnd != null">
                AND `eterm` &lt;= #{projectParamDto.etermEnd}
            </if>
            <if test="projectParamDto.prsnl != null">
                AND `prsnl` &gt;= #{projectParamDto.prsnl}
            </if>
            <if test="projectParamDto.salary != null">
                AND `salary` &gt;= #{projectParamDto.salary}
            </if>
        </where>
    </sql>

    <resultMap id="projectResultMap" type="kr.co.metasoft.ito.api.common.entity.ProjectEntity">
        <result property="adminProjId" column="admin_proj_id" />
        <result property="name" column="name" />
        <result property="job" column="job" />
        <result property="skill" column="skill" />
        <result property="career" column="career" />
        <result property="degree" column="degree" />
        <result property="sterm" column="sterm" />
        <result property="eterm" column="eterm" />
        <result property="place" column="place" />
        <result property="prsnl" column="prsnl" />
        <result property="status" column="status" />
        <result property="salary" column="salary" />
        <result property="term" column="term" />
    </resultMap>

    <select
        id="selectProjectList"
        parameterType="java.util.Map"
        resultMap="projectResultMap"
    >
        <include refid="PageFragment.sortStart" />
        <include refid="selectFrom" />
        <include refid="where"/>
        <include refid="PageFragment.sortEnd" />
        <include refid="PageFragment.limitOffset" />
    </select>

    <select
        id="selectProjectListCount"
        parameterType="java.util.Map"
        resultType="java.lang.Integer"
    >
        <include refid="PageFragment.countStart" />
        <include refid="selectFrom" />
        <include refid="where"/>
        <include refid="PageFragment.countEnd" />
    </select>
</mapper>