<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.metasoft.ito.api.common.mapper.UserSealMapper">

    <sql id="selectFrom">
        SELECT
            `seal`.`id`,
            `seal`.`user_id`,
            `seal`.`image_url`,
            `seal`.`sign_url`
        FROM
            `tb_seal` `seal`
    </sql>

    <sql id="where">
    </sql>

    <resultMap id="userSealResultMap" type ="kr.co.metasoft.ito.api.common.entity.UserSealEntity" >
        <result property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="imageUrl" column="image_url" />
        <result property="signUrl" column="sign_url" />
    </resultMap>

    <select
        id="selectUserSeal"
        parameterType="java.util.Map"
        resultMap="userSealResultMap"
    >
        <include refid="selectFrom" />
        WHERE
            `seal`.`user_id` = #{userId}
    </select>
</mapper>
