<div class="pa-3">
    <v-row>
        <v-col cols="12">
            <v-expansion-panels
                multiple
                v-model="project.panels.list"
            >
                <v-expansion-panel>
                    <v-expansion-panel-header>프로젝트 검색</v-expansion-panel-header>
                    <v-expansion-panel-content
                        class="overflow-y-auto"
                        style="max-height: 600px;"
                    >
                        <v-form>
                            <v-container>
                                <v-row>
                                    <v-col cols="6">
                                        <v-text-field
                                            dense
                                            label="프로젝트명"
                                            v-model="project.dataTable.query.projectName"
                                            @keyup.enter="loadProjectList()"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="3">
                                        <date-picker-component
                                            dense
                                            hide-details
                                            append-icon="mdi-calendar"
                                            label="시작기간"
                                            v-model="project.dataTable.query.stermStart"
                                        ></date-picker-component>
                                    </v-col>
                                    <v-col cols="3">
                                        <v-select
                                            dense
                                            label="지역"
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="3">
                                        <v-select
                                            dense
                                            label="직종"
                                            hide-details="auto"
                                            :items="select.job.items"
                                            v-model="project.dataTable.query.job"
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="3">
                                        <v-select
                                            dense
                                            label="기술"
                                            multiple
                                            hide-details="auto"
                                            :items="select.skill.items"
                                            v-model="project.dataTable.query.skill"
                                        ></v-select>
                                    </v-col>

                                    <v-col cols="3">
                                        <v-select
                                            dense
                                            label="학위"
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="3">
                                        <v-select
                                                dense
                                                label="현황"
                                                :items="select.status.items"
                                                v-model="project.dataTable.query.status"
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="2">
                                        <v-select
                                            dense
                                            label="경력"
                                            suffix="년"
                                            :items="select.careerYear.items"
                                            v-model="project.dataTable.query.careerYear"
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="2">
                                        <v-select
                                            dense
                                            label="경력"
                                            suffix="월"
                                            :items="select.careerMonth.items"
                                            v-model="project.dataTable.query.careerMonth"
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="4">
                                        <v-text-field
                                            dense
                                            label="필요인원수"
                                            suffix="명"
                                            v-model="project.dataTable.query.prsnl"
                                            @keyup.enter="loadProjectList()"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="4">
                                        <v-text-field
                                            dense
                                            label="월 급여"
                                            suffix="만원"
                                            v-model="project.dataTable.query.salary"
                                            @keyup.enter="loadProjectList()"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" class="text-right">
                                        <v-btn
                                            class="primary"
                                            @click="searchProjectList"
                                        >검색</v-btn>
                                        <v-btn
                                            class="error"
                                            @click="initialize"
                                        >초기화</v-btn>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>
                    </v-expansion-panel-content>
                </v-expansion-panel>

                <v-expansion-panel>
                    <v-expansion-panel-header>프로젝트 현황</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <data-table-custom-component
                            :headers="project.dataTable.headers"
                            :items="project.dataTable.items"
                            :totalRows="project.dataTable.totalRows"
                            :page.sync="project.dataTable.options.page"
                            :itemsPerPage.sync="project.dataTable.options.itemsPerPage"
                            :loading="project.dataTable.loading"
                            :import-hide="true"
                            :add-hide="true"
                            :remove-hide="true"
                            @click:row="handleClick"
                        ></data-table-custom-component>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>
</div>