<div>
    <v-row>
        <v-col cols="12">
            <v-expansion-panels
                    multiple
                    v-model="profile.panels.list"
            >
                <v-expansion-panel>
                    <v-expansion-panel-header>나의 프로필 목록</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-data-table
                                fixed-header
                                hide-default-footer
                                height="450px"
                                :headers="profile.dataTable.headers"
                                :items="profile.dataTable.items"
                                :loading="profile.dataTable.loading"
                                :server-items-length="profile.dataTable.serverItemsLength"
                                :page.sync="profile.dataTable.page"
                                :items-per-page.sync="profile.dataTable.itemsPerPage"
                                @page-count="profile.pagination.length = $event;"
                        ></v-data-table>
                        <div>
                            <v-pagination
                                    :length="profile.pagination.length"
                                    :total-visible="profile.pagination.totalVisible"
                                    v-model="profile.dataTable.page"
                            ></v-pagination>
                        </div>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>
</div>