<div>
    <v-row>
        <v-col cols="12">
            <v-expansion-panels
                    multiple
                    v-model="inputProfile.panels.form"
            >
                <v-expansion-panel>
                    <v-expansion-panel-header>프로필 입력</v-expansion-panel-header>
                    <v-expansion-panel-content
                            class="overflow-y-auto"
                            style="max-height: 600px;"
                    >
                        <v-form>
                            <v-container>
                                <v-row>
                                    <v-col cols="4">
                                        <v-text-field
                                                dense
                                                label="이름"
                                                v-model="inputProfile.form.item.name"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="4">
                                        <date-picker-component
                                            dense
                                            outlined
                                            hide-details
                                            label="생년월일"
                                            append-icon="mdi-calendar"
                                        ></date-picker-component>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="4">
                                        <v-text-field
                                                label="E-mail"
                                                v-model="inputProfile.form.item.email"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="4">
                                        <v-text-field
                                                label="주소"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="4">
                                        <v-select
                                                dense
                                                :items="inputProfile.job"
                                                label="직종"
                                        ></v-select>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="4">
                                        <v-text-field
                                                dense
                                                label="경력"
                                                v-model="inputProfile.form.item.career"
                                        ></v-text-field>
                                        <v-btn
                                            class=""
                                            @click=""
                                        >EXCEL로 일괄 업로드하기</v-btn>
                                    </v-col>
                                    <v-col cols="2">
                                        <v-btn
                                            class=""
                                            @click=""
                                        >+</v-btn>
                                        <v-btn
                                                class=""
                                                @click=""
                                        >-</v-btn>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="4">
                                        <v-text-field
                                                label="희망월급여"
                                                suffix="만원"
                                        ></v-text-field>

                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="4">
                                        <v-select
                                                dense
                                                label="이력서 공개여부"
                                                hide-details="auto"
                                                :items="[{'text': '선택', 'value': null},{'text': '공개', 'value': 'T'},{'text': '비공개', 'value': 'F'}]"
                                                v-model="inputProfile.open.show"
                                        ></v-select>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12" class="text-right">
                                        <v-btn
                                                class="primary"
                                                @click="saveProfile();"
                                        >등록</v-btn>
                                        <v-btn
                                                class="secondary"
                                                @click=""
                                        >목록</v-btn>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>
</div>