<v-dialog
    ref="datePickerDialog"
    persistent
    width="300px"
    :return-value.sync="value"
    v-model="dialog"
>
    <template v-slot:activator="{ on }">
        <v-text-field
            readonly
            :label="label"
            :dense="dense"
            v-on="on"
            v-model="value"
        ></v-text-field>
    </template>
    <v-date-picker
        ref="datePicker"
        v-model="value"
    >
        <v-spacer></v-spacer>
        <v-btn
            class="accent"
            @click="value = '';"
        >초기화</v-btn>
        <v-btn
            class="primary"
            @click="$refs.datePickerDialog.save(value);"
        >확인</v-btn>
        <v-btn
            class="secondary"
            @click="dialog = false;"
        >취소</v-btn>
    </v-date-picker>
</v-dialog>