<v-container fluid>

    <v-row>
        <v-col cols="12">
            <v-expansion-panel>
                <v-expansion-panel-header>프로젝트 입력하기</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-form>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-text-field
                                dense
                                outlined
                                label="프로젝트명"
                                v-model="project.query.name"
                                @keydown.enter="search();"
                            ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.jobTypeItems"
                                label="직종"
                                v-model="project.query.jobType"
                                @keydown.enter="search();"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.career"
                                label="경력"
                                v-model="project.query.career"
                                @keydown.enter="search();"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.degree"
                                label="학위"
                                v-model="project.query.degree"
                                @keydown.enter="search();"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-text-field
                                dense
                                outlined
                                label="기간"
                                v-model="project.query.period"
                                @keydown.enter="search();"
                            ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.addr1"
                                label="시"
                                v-model="project.query.addr1"
                                @keydown.enter="search();"
                            ></v-select>
                            </v-col>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.addr2"
                                label="구"
                                v-model="project.query.addr2"
                                @keydown.enter="search();"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.needPerson"
                                label="필요인원수"
                                v-model="project.query.needPerson"
                                @keydown.enter="search();"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="2"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.status"
                                label="현황"
                                v-model="project.query.status"
                                @keydown.enter="search();"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" class="text-right">
                            <v-btn
                                class="primary"
                                @click="search();"
                            >검색</v-btn>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-col>
    </v-row>
</v-container>