<v-container fluid>

    <v-row>
        <v-col cols="12">
           <v-expansion-panels
                multiple
                v-model="project.panels.list"
           >
            <v-expansion-panel>
                <v-expansion-panel-header>프로젝트 입력하기</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-form>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="5"
                            >
                            <v-text-field
                                dense
                                label="프로젝트명"
                                v-model="project.query.name"
                            ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="5"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.jobTypeItems"
                                label="직종"
                                v-model="project.query.jobType"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="5"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.degree"
                                label="학위"
                                v-model="project.query.degree"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="5"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.career"
                                label="경력"
                                v-model="project.query.career"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="5"
                            >
                        <date-picker-component
                                dense
                                outlined
                                label="시작 기간"
                                v-model="project.query.sterm"
                            ></date-picker-component>
                            </v-col>
                            <v-col
                                cols="12"
                                sm="5"
                            >
                        <date-picker-component
                                dense
                                outlined
                                label="종료 기간"
                                v-model="project.query.eterm"
                            ></date-picker-component>
                            </v-col>

                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="5"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.address"
                                label="지역(시)"
                                v-model="project.addressValue"
                            ></v-select>
                            </v-col>
                            <v-col
                                cols="12"
                                sm="5"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.addressSelect"
                                label="지역(구)"
                                v-model="project.query.place"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="5"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.needPerson"
                                label="필요인원수"
                                v-model="project.query.prsnl"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col
                                cols="12"
                                sm="5"
                            >
                            <v-select
                                dense
                                outlined
                                :items="project.status"
                                label="현황"
                                v-model="project.query.status"
                            ></v-select>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" class="text-right">
                            <v-btn
                                class="secondary"
                                @click=""
                            >초기화</v-btn>
                            <v-btn
                                class="primary"
                                @click=""
                            >프로젝트 추가하기</v-btn>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-col>
    </v-row>
</v-container>