<v-container fluid>


   <v-row>
        <v-col cols="12">
            <v-expansion-panels
                multiple
                v-model="user.panels.search"
            >
                <v-expansion-panel>
                    <v-expansion-panel-header>사용자 검색</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-form>
                            <v-row>
                                <v-col
                                    cols="12"
                                    sm="6"
                                >
                                    <v-text-field
                                        dense
                                        label="이름"
                                        v-model="user.query.name"
                                        @keydown.enter="search();"
                                    ></v-text-field>
                                </v-col>
                          </v-row>
                           <v-row>
                                <v-col
                                    cols="12"
                                    sm="6"
                                >
                                  <v-select
                                      dense
                                      outlined
                                      :items="user.dataTable.jobTypeItems"
                                      label="직종"
                                    v-model="user.query.jobType"
                                    @keydown.enter="search();"
                                 ></v-select>
                                 </v-col>
                            </v-row>
                           <v-row>
                                <v-col
                                    cols="12"
                                    sm="6"
                                >
                                  <v-select
                                      dense
                                      outlined
                                      :items="user.dataTable.education"
                                      label="최종 학력"
                                    v-model="user.query.education"
                                    @keydown.enter="search();"
                                 ></v-select>
                                 </v-col>
                            </v-row>
                            <v-row>
                                <v-col
                                    cols="12"
                                    sm="6"
                                >
                                    <v-select
                                        outlined
                                        dense
                                        menu-props="auto"
                                        :items="user.dataTable.career"
                                        label="경력"
                                        v-model="user.query.career"
                                        @keydown.enter="search();"
                                    ></v-select>
                                </v-col>
                              </v-row>
                            <v-row>
                                <v-col
                                    cols="12"
                                    sm="6"
                                >
                                    <v-select
                                        outlined
                                        dense
                                        menu-props="auto"
                                        :items="user.dataTable.certificateStatus"
                                        label="필수 자격증 여부"
                                        v-model="user.query.certificateStatus"
                                        @keydown.enter="search();"
                                    ></v-select>
                                </v-col>
                              </v-row>
                               <v-row>
                                <v-col
                                    cols="12"
                                    sm="6"
                                >
                                    <v-text-field
                                        dense
                                        suffix="만원"
                                        label="희망 월급여"
                                        v-model="user.query.pay"
                                        @keydown.enter="search();"
                                    ></v-text-field>
                                </v-col>
                              </v-row>
                               <v-row>
                                <v-col
                                    cols="3"
                                    sm="6"
                                >
                                    <v-select
                                        dense
                                        outlined
                                        label="지역(시)"
                                        v-model="user.dataTable.addressValue"
                                        :items="user.dataTable.address"
                                        @keydown.enter="search();"
                                    ></v-select>
                                </v-col>
                                <v-col
                                    cols="3"
                                    sm="6"
                                >
                                    <v-select
                                        dense
                                        outlined
                                        label="지역(구)"
                                        v-model="user.query.address"
                                        :items="user.dataTable.addressSelect"
                                        @keydown.enter="search();"
                                    ></v-select>
                                </v-col>

                            </v-row>
                            <v-row>
                                <v-col
                                    cols="12"
                                    class="text-right"
                                >
                                    <v-checkbox
                                      v-model="user.query.inputStatus"
                                      label="투입중인 사람 제외"
                                      color="success"
                                      value="T"
                                      hide-details
                                    >
                                    </v-checkbox>
                                    <v-btn
                                        class="secondary"
                                        @click="reset()"
                                    >초기화</v-btn>
                                    <v-btn
                                        class="primary"
                                        @click="search();"
                                    >검색</v-btn>
                                </v-col>
                            </v-row>
                        </v-form>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>
     <v-row>
        <v-col cols="12">
            <v-expansion-panels
                multiple
                v-model="user.panels.list"
            >
                <v-expansion-panel>
                    <v-expansion-panel-header>목록</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <data-table-custom-component
                            :show-select="true"
                            item-key="id"
                            :headers="user.dataTable.headers"
                            :items="user.dataTable.items"
                            :totalRows="user.dataTable.totalRows"
                            :page.sync="user.dataTable.options.page"
                            :itemsPerPage.sync="user.dataTable.options.itemsPerPage"
                            :sortBy.sync="user.dataTable.options.sortBy"
                            :sortDesc.sync="user.dataTable.options.sortDesc"
                            :groupBy.sync="user.dataTable.options.groupBy"
                            :groupDesc.sync="user.dataTable.options.groupDesc"
                            :multiSort.sync="user.dataTable.options.multiSort"
                            :mustSort.sync="user.dataTable.options.mustSort"
                            :loading="user.dataTable.loading"
                            @click:row="editUserInfo"
                            @remove="deleteUserInfoList"
                            @add="editUserInfo"
                        ></data-table-custom-component>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>
</v-container>