<div class="pa-3">
    <v-row>
        <v-col cols="12">
            <v-expansion-panels
                multiple
                v-model="career.panels.list"
                >
                <v-expansion-panel>
                    <v-expansion-panel-header>경력 보기</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <data-table-custom-component
                                :show-select="true"
                                item-key="personCareerId"
                                :headers="career.dataTable.headers"
                                :items="career.dataTable.items"
                                :totalRows="career.dataTable.totalRows"
                                :page.sync="career.dataTable.options.page"
                                :itemsPerPage.sync="career.dataTable.options.itemsPerPage"
                                :sortBy.sync="career.dataTable.options.sortBy"
                                :sortDesc.sync="career.dataTable.options.sortDesc"
                                :groupBy.sync="career.dataTable.options.groupBy"
                                :groupDesc.sync="career.dataTable.options.groupDesc"
                                :multiSort.sync="career.dataTable.options.multiSort"
                                :mustSort.sync="career.dataTable.options.mustSort"
                                :loading="career.dataTable.loading"
                                @click:row="openCareerDialog"
                                @remove="deleteCareer"
                                @add="openNewCareerDialog"
                        ></data-table-custom-component>
<!--                        <v-row class="my-1">-->
<!--                            <v-col class="d-flex justify-start align-center">-->
<!--                                <div style="width: 200px;">-->
<!--                                    <h3>전체 {{ career.dataTable.totalRows }}건</h3>-->
<!--                                </div>-->
<!--                                <div style="width: 130px;" class="ml-auto">-->
<!--                                    <v-select-->
<!--                                        dense-->
<!--                                        outlined-->
<!--                                        hide-details="auto"-->
<!--                                        v-model="career.dataTable.options.itemsPerPage"-->
<!--                                        :items="data.paginationList"-->
<!--                                    ></v-select>-->
<!--                                </div>-->
<!--                            </v-col>-->
<!--                        </v-row>-->
<!--                        <v-data-table-->
<!--                            fixed-header-->
<!--                            hide-default-footer-->
<!--                            show-select-->
<!--                            :item-key="career.form.item.personCareerId"-->
<!--                            height="auto"-->
<!--                            v-model="career.selected"-->
<!--                            :headers="career.dataTable.headers"-->
<!--                            :items="career.dataTable.items"-->
<!--                            :loading="career.dataTable.loading"-->
<!--                            :totalRows="career.dataTable.totalRows"-->
<!--                            :page.sync="career.dataTable.page"-->
<!--                            :items-per-page.sync="career.dataTable.itemsPerPage"-->
<!--                        >-->
<!--                            <template v-slot:item.actions="{item}">-->
<!--                                <v-icon-->
<!--                                    small-->
<!--                                    class="mr-2"-->
<!--                                    @click="setCareer(item.personCareerId)"-->
<!--                                >mdi-pencil</v-icon>-->
<!--                                <v-icon-->
<!--                                    small-->
<!--                                    @click="deleteCareer(item.personCareerId)"-->
<!--                                >mdi-delete</v-icon>-->
<!--                            </template>-->
<!--                        </v-data-table>-->
<!--                        <div class="text-center my-2">-->
<!--                            <v-pagination-->
<!--                                class="d-inline-block"-->
<!--                                :length="Math.ceil(career.dataTable.totalRows / career.dataTable.options.itemsPerPage)"-->
<!--                                :total-visible="10"-->
<!--                                v-model="career.dataTable.options.page"-->
<!--                            ></v-pagination>-->
<!--                            <div class="text-right">-->
<!--                                <v-btn-->
<!--                                    class="grey"-->
<!--                                    @click=""-->
<!--                                >EXCEL로 일괄 업로드하기</v-btn>-->
<!--                                <v-dialog-->
<!--                                    v-model="dialog"-->
<!--                                    max-width="600px"-->
<!--                                >-->
<!--                                    <template v-slot:activator="{ on, attrs }">-->
<!--                                        <v-btn-->
<!--                                            class="primary ml-6"-->
<!--                                            v-bind="attrs"-->
<!--                                            v-on="on"-->
<!--                                        >추가</v-btn>-->
<!--                                    </template>-->
<!--                                    <v-card>-->
<!--                                        <v-card-title>-->
<!--                                            <span class="headline">{{ }}</span>-->
<!--                                        </v-card-title>-->
<!--                                        <v-card-text>-->
<!--                                            <v-container>-->
<!--                                                <v-row>-->
<!--                                                    <v-col cols="12" sm="10" md="8">-->
<!--                                                        <v-text-field-->
<!--                                                            v-model="career.form.item.name"-->
<!--                                                            label="프로젝트명"-->
<!--                                                        ></v-text-field>-->
<!--                                                    </v-col>-->
<!--                                                    <v-col cols="12" sm="7" md="5">-->
<!--                                                        <date-picker-component-->
<!--                                                            dense-->
<!--                                                            label="시작일"-->
<!--                                                            append-icon="mdi-calendar"-->
<!--                                                            hide-details="auto"-->
<!--                                                            v-model="career.form.item.startPeriod"-->
<!--                                                        ></date-picker-component>-->
<!--                                                    </v-col>-->
<!--                                                    <v-col cols="2" md="auto" class="d-flex align-center">~</v-col>-->
<!--                                                    <v-col cols="12" sm="7" md="5">-->
<!--                                                        <date-picker-component-->
<!--                                                            dense-->
<!--                                                            label="종료일"-->
<!--                                                            append-icon="mdi-calendar"-->
<!--                                                            hide-details="auto"-->
<!--                                                            :min="career.form.item.startPeriod"-->
<!--                                                            :max="data.query.maxDate"-->
<!--                                                            v-model="career.form.item.endPeriod"-->
<!--                                                        ></date-picker-component>-->
<!--                                                    </v-col>-->
<!--                                                    <v-col cols="12" sm="6" md="4">-->
<!--                                                        <v-text-field-->
<!--                                                            v-model="career.form.item.position"-->
<!--                                                            label="직급"-->
<!--                                                        ></v-text-field>-->
<!--                                                    </v-col>-->
<!--                                                    <v-col cols="12" sm="6" md="4">-->
<!--                                                        <v-text-field-->
<!--                                                            v-model="career.form.item.task"-->
<!--                                                            label="담당업무"-->
<!--                                                        ></v-text-field>-->
<!--                                                    </v-col>-->
<!--                                                    <v-col cols="12" sm="6" md="4">-->
<!--                                                        <v-text-field-->
<!--                                                            v-model="career.form.item.pay"-->
<!--                                                            label="월급여"-->
<!--                                                            suffix="만원"-->
<!--                                                        ></v-text-field>-->
<!--                                                    </v-col>-->
<!--                                                </v-row>-->
<!--                                            </v-container>-->
<!--                                        </v-card-text>-->
<!--                                        <v-card-actions>-->
<!--                                            <b-btn-->
<!--                                                text-->
<!--                                                color="primary"-->
<!--                                                class="ml-auto"-->
<!--                                                @click="saveCareer"-->
<!--                                            >저장</b-btn>-->
<!--                                            <b-btn-->
<!--                                                text-->
<!--                                                color="error"-->
<!--                                                class="ml-1"-->
<!--                                                @click="initialize"-->
<!--                                            >초기화</b-btn>-->
<!--                                        </v-card-actions>-->
<!--                                    </v-card>-->
<!--                                </v-dialog>-->

<!--                                <v-btn-->
<!--                                    color="error"-->
<!--                                    class="ml-1"-->
<!--                                    @click="deleteCareerList"-->
<!--                                >삭제</v-btn>-->
<!--                            </div>-->
<!--                        </div>-->
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>
    <career-dialog-component
            :dialog="dialog"
            @save="saveCareer"
    ></career-dialog-component>
</div>