<div>
    <v-row>
        <v-col cols="12">
            <v-card>
                <v-card-title>Form</v-card-title>
                <v-card-text>
                    <v-form>
                        <v-text-field
                            label="Name"
                            v-model="role.name"
                        ></v-text-field>
                        <v-text-field
                            label="Description"
                            v-model="role.description"
                        ></v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        class="red"
                        v-show="role.id"
                        @click="deleteRole();"
                    >Delete</v-btn>
                    <v-btn
                        class="primary"
                        @click="saveRole();"
                    >Save</v-btn>
                    <v-btn
                        class="secondary"
                        @click="$router.back();"
                    >Cancel</v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
</div>