<div>
    <v-row>
        <v-col cols="12">
            <v-expansion-panels
                multiple
                v-model="role.panels.search"
            >
                <v-expansion-panel>
                    <v-expansion-panel-header>Search</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-form>
                            <v-row>
                                <v-col
                                    cols="12"
                                    sm="4"
                                >
                                    <v-text-field
                                        label="ID"
                                        v-model="role.query.id"
                                        @keydown.enter="search();"
                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="4"
                                >
                                    <v-text-field
                                        label="Name"
                                        v-model="role.query.name"
                                        @keydown.enter="search();"
                                    ></v-text-field>
                                </v-col>
                                <v-col
                                    cols="12"
                                    sm="4"
                                >
                                    <v-text-field
                                        label="Description"
                                        v-model="role.query.description"
                                        @keydown.enter="search();"
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col
                                    cols="12"
                                    class="text-right"
                                >
                                    <v-btn
                                        class="secondary"
                                        @click="reset();"
                                    >Reset</v-btn>
                                    <v-btn
                                        class="primary"
                                        @click="search();"
                                    >Search</v-btn>
                                </v-col>
                            </v-row>
                        </v-form>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>
    <v-row>
        <v-col cols="12">
            <v-expansion-panels
                multiple
                v-model="role.panels.list"
            >
                <v-expansion-panel>
                    <v-expansion-panel-header>List</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-data-table
                            dense
                            fixed-header
                            hide-default-footer
                            height="450px"
                            :headers="role.dataTable.headers"
                            :items="role.dataTable.items"
                            :loading="role.dataTable.loading"
                            :server-items-length="role.dataTable.serverItemsLength"
                            :page.sync="role.dataTable.page"
                            :items-per-page.sync="role.dataTable.itemsPerPage"
                            @page-count="role.pagination.length = $event;"
                        >
                            <template v-slot:top>
                                <v-toolbar flat>
                                    <v-select
                                        hide-details
                                        dense
                                        class="shrink"
                                        label="Items Per Page"
                                        :items="role.itemsPerPageItems"
                                        v-model="role.dataTable.itemsPerPage"
                                    ></v-select>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        class="primary"
                                        to="/roles/new"
                                    >New</v-btn>
                                </v-toolbar>
                            </template>
                            <template v-slot:item.id="{ item }">
                                <v-btn
                                    text
                                    :to="'/roles/' + item.id"
                                >{{ item.id }}</v-btn>
                            </template>
                        </v-data-table>
                        <v-pagination
                            class="mt-2"
                            :length="role.pagination.length"
                            :total-visible="role.pagination.totalVisible"
                            v-model="role.dataTable.page"
                        ></v-pagination>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>
</div>