<v-data-table
    v-model="data"
    :show-select="showSelect"
    :item-key="itemKey"
    :headers="headers"
    :items="items"
    :server-items-length="totalRows"
    :page.sync="page"
    :items-per-page.sync="itemsPerPage"
    :sort-by.sync="sortBy"
    :sort-desc.sync="sortDesc"
    :group-by.sync="groupBy"
    :group-desc.sync="groupDesc"
    :multi-sort.sync="multiSort"
    :must-sort.sync="mustSort"
    :loading="loading"
    :disable-sort="disabled"
    mobile-breakpoint="0"
    hide-default-footer
>
    <template v-slot:top>
    <v-row class="my-1">
        <v-col class="d-flex justify-start align-center">
            <div style="width: 200px;">
                <h3 class="text-left">{{count}}</h3>
            </div>
            <div style="width: 130px;" class="ml-auto">
                <v-select
                    dense
                    outlined
                    hide-details="auto"
                    :value="itemsPerPage"
                    :items="paginationList"
                    @change="itemsPerPage = $event;"
                >
                </v-select>
            </div>
        </v-col>
    </v-row>
    </template>
    <template v-if="items.length !== 0" v-slot:body="props">
            <tbody>
                <tr v-for="item in props.items" :key="item[itemKey]">
                    <td v-if="showSelect">
                        <v-checkbox
                            v-model="data"
                            :value="item"
                            multiple
                            style="margin:0px;padding:0px"
                            hide-details
                        />
                    </td>
                    <td :class="'text-'+header.align + ' ' + header.cellClass" v-for="header in headers"  @click="clickRow(item)">
                        <template v-if="header.value === 'edit'">
                            <v-icon
                                small
                                class="mr-2"
                                @click="clickEdit(item)"
                            >mdi-pencil</v-icon>
                        </template>
                        <template v-else-if="header.cellClass != null && header.cellClass.indexOf('truncate') !== -1">
                            <template v-if="header.value.toUpperCase().indexOf('TARGET') !== -1">
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <span v-on="on" v-bind="attrs">{{item[header.value]}}</span>
                                    </template>
                                    <template v-if="item[header.value]">
                                        <span v-for="text in item[header.value].split(',')">{{text}}<br/></span>
                                    </template>
                                </v-tooltip>
                            </template>
                            <template v-else>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <span v-on="on" v-bind="attrs">{{item[header.value]}}</span>
                                    </template>
                                    {{item[header.value]}}
                                </v-tooltip>
                            </template>
                        </template>
                        <template v-else>
                            {{item[header.value]}}
                        </template>
                    </td>
                </tr>
            </tbody>
    </template>>
    <template v-else v-slot:body>
        <tbody>
            <tr>
                <td v-if="loading" :colspan="headers.length + (showSelect ? 1 : 0)" class="text-center">
                    <h4 style="opacity: 0.4;">데이터 가져오는 중...</h4>
                </td>
                <td v-else :colspan="headers.length + (showSelect ? 1 : 0)" class="text-center">
                    <div class="py-3">
                        <v-icon size="200" style="opacity: 0.12;">
                            mdi-database-remove-outline
                        </v-icon>
                        <br>
                        <h4 style="opacity: 0.4;">데이터가 없습니다.</h4>
                    </div>
                </td>
            </tr>
        </tbody>
    </template>
    <template v-if="headers.find(e=>e.value === 'actions') !== undefined" v-slot:item.actions="{item}">
        <v-icon
            small
            class="mr-2"
            @click="clickIcon(item);"
        >mdi-pencil</v-icon>
    </template>
    <template v-slot:footer >
        <v-row dense>
            <v-col cols="12" class="pa-0">
                <div class="text-center my-2" >
                    <v-pagination
                        class="d-inline-block"
                        :length="Math.ceil(totalRows / itemsPerPage)"
                        :total-visible="10"
                        v-model="page"
                        :disabled="disabled"
                    ></v-pagination>
                </div>
            </v-col>
            <v-col cols="12" class="pa-0 d-flex justify-end align-center">
                <v-btn
                    v-if="!importHide"
                    color="primary"
                    @click="excelImport"
                >업로드</v-btn>
                <v-btn
                    v-if="!addHide"
                    class="ml-3"
                    @click="add"
                >추가</v-btn>
                <v-btn
                    v-if="!removeHide"
                    class="ml-3"
                    @click="remove"
                >삭제</v-btn>
            </v-col>
        </v-row>
    </template>
 </v-data-table>