
<v-container fluid>


      <v-row>
        <v-col cols="12">
            <v-expansion-panels
                multiple
                v-model="user.panels.list"
            >
                <v-expansion-panel>
                    <v-expansion-panel-header>사용자 정보 입력하기</v-expansion-panel-header>
                    <v-expansion-panel-content>
                    <v-form
                          ref="form"
                          v-model="user.valid"
                          lazy-validation
                          class="overflow-y-auto"
                          style="max-height: 1500px"
                    >
                     <v-container>
                      <v-row class="ma-0">
                           <v-col
                              cols="4"
                              class="pa-2"
                           >
                            <v-text-field
                                dense
                                label="이름"
                                v-model="data.name"
                                :rules= "[v=> !!v || '필수 입니다']"
                                required
                            ></v-text-field>
                            </v-col>
                      </v-row>
                      <v-row class="ma-0">
                           <v-col
                              cols="4"
                              class="pa-2"
                           >
                        <date-picker-component
                            class="required"
                            dense
                            append-icon="mdi-calendar"
                            label="생년월일"
                            v-model="data.birthDate"
                        ></date-picker-component>
                         </v-col>
                           <v-col
                              cols="4"
                              class="pa-2"
                           >
                        <v-select
                            dense
                            label="성별"
                            :items="user.select.gender.items"
                            v-model="data.gender"
                        ></v-select>
                         </v-col>
                      </v-row>
                      <v-row class="ma-0">
                           <v-col
                              cols="4"
                              class="pa-2"
                           >
                            <v-text-field
                                dense
                                class="required"
                                label="전화번호"
                                v-model="data.phoneNumber"
                                :rules= "[v=> !!v || '필수 입니다']"
                                required
                            ></v-text-field>
                            </v-col>
                      </v-row>
                      <v-row class="ma-0">
                            <v-col cols="8">
                               <div style="width: 100px; height:55px;">
                                   <v-text-field
                                       outlined
                                       dense
                                       label="우편번호"
                                       v-model="data.postcode"
                                       @click="execDaumPostcode"
                                   ></v-text-field>
                               </div>
                               <div style="display:flex;">
                                   <v-text-field
                                       outlined
                                       dense
                                       label="주소"
                                       v-model="data.address"
                                   ></v-text-field>
                                   <v-text-field
                                       outlined
                                       dense
                                       class="ml-2"
                                       label="상세주소"
                                       ref="detailAddress"
                                       v-model="data.detailAddress"
                                   ></v-text-field>
                               </div>
                            </v-col>
                      </v-row>
                      <v-row class="ma-0 mb-5">
                           <v-col
                              cols="4"
                           >
                            <v-select
                                dense
                                multiple
                                outlined
                                menu-props="auto"
                                label="직종"
                                :items="user.select.job.items"
                                v-model="data.jobType"
                                :rules= "[v=> !!v || '필수 입니다']"
                                required
                            ></v-select>
                            </v-col>

                           <v-col
                              cols="7"
                           >
                            <v-text-field
                                dense
                                chips
                                multiple
                                outlined
                                menu-props="auto"
                                label="기술"
                                v-model="data2.skill"
                            ></v-text-field>
                            </v-col>
<!--
                           <v-col
                              cols="7"
                           >
                            <v-autocomplete
                                dense
                                chips
                                multiple
                                outlined
                                menu-props="auto"
                                label="기술"
                                :items="user.select.skill.items"
                                v-model="data2.skill"
                            ></v-autocomplete>
                            </v-col>
<!--
                      </v-row>
                      <v-row class="ma-0 mb-5">
                              <v-col cols="12" v-if="data.jobType !== null">
                                <v-card oulined style="border-color: rgba(0, 0, 0, 0.42) !important;">
                                    <v-card-text>
                                        <v-row dense>
                                            <v-col cols="auto" class="d-flex justify-center align-center">
                                                <span>보유 스킬&경험<br/>(3개 선택)</span>
                                            </v-col>
                                            <v-col class="py-0 d-inline justify-center align-center">
                                                <table>
                                                    <tbody>
                                                    <tr style="border: 1px solid black;">
                                                        <td scope="row">
                                                            <v-checkbox
                                                                class="d-inline-block"
                                                                style="margin: 5px !important;"
                                                                hide-details="auto"
                                                                v-for="item in user.select.skill.items"
                                                                v-model="data2.skill"
                                                                :value="item.id"
                                                                :label="item.name"
                                                            ></v-checkbox>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                </v-card>
                            </v-col>
 -->
                     </v-row>
                    <v-row class="ma-0">
                           <v-col
                              cols="3"
                              class="pa-2"
                           >
                            <v-select
                                dense
                                menu-props="auto"
                                label="최종 학력"
                                v-model="data.education"
                                :items="user.select.education.items"
                                required
                            ></v-select>
                            </v-col>
                    </v-row>
                    <v-row class="ma-0">
                           <v-col
                              cols="3"
                              class="pa-2"
                           >
                            <v-select
                                dense
                                menu-props="auto"
                                label="경력"
                                suffix="년"
                                :items="user.dataTable.career1"
                                v-model="data.career1"
                            ></v-select>
                           </v-col>
                           <v-col
                              cols="3"
                              class="pa-2"
                           >
                            <v-select
                                dense
                                menu-props="auto"
                                label="경력"
                                suffix="월"
                                :items="user.dataTable.career2"
                                v-model="data.career2"
                            ></v-select>
                           </v-col>
                    </v-row>
                    <v-row class="ma-0">
                           <v-col
                              cols="3"
                              class="pa-2"
                           >
                            <v-select
                                dense
                                menu-props="auto"
                                label="자격증 여부"
                                v-model="data.certificateStatus"
                                :items="user.dataTable.certificateStatus"
                                required
                            ></v-select>
                            </v-col>
                    </v-row>
                    <v-row class="ma-0">
                        <v-col cols="3">
                            <v-text-field
                                label="최소 희망 급여"
                                suffix="만원"
                                v-model="data.minPay"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="1" class="text-center" style="line-height: 60px;">
                            ~
                        </v-col>
                        <v-col cols="3">
                            <v-text-field
                                label="최대 희망 급여"
                                suffix="만원"
                                v-model="data.maxPay"
                            ></v-text-field>
                        </v-col>
                    </v-row>

<!--                     <v-row class="ma-0">
                           <v-col
                              cols="3"
                              class="pa-2"
                           >
                            <v-text-field
                                dense
                                label="실제 지급 급여"
                                suffix="만원"
                                v-model="data.actualPay"
                            ></v-text-field>
                           </v-col>
                    </v-row>
 -->
                     <v-row class="ma-0">
                           <v-col
                              cols="3"
                              class="pa-2"
                           >
                            <v-select
                                dense
                                outlined
                                label="희망 지역"
                                suffix="(시)"
                                :items="user.select.local.items"
                                v-model="data.local"
                            ></v-select>
                           </v-col>
                           <v-col
                              cols="3"
                              class="pa-2"
                           >
                            <v-select
                                dense
                                outlined
                                label="희망 지역"
                                suffix="(구)"
                                :items="user.select.detailLocal.items"
                                v-model="data.detailLocal"
                            ></v-select>
                           </v-col>
                    </v-row>
                    <v-row class="ma-0">
                           <v-col
                              cols="3"
                              class="pa-2"
                           >
                            <v-select
                                dense
                                menu-props="auto"
                                label="현황"
                                v-model="data.inputStatus"
                                :items="user.select.status.items"
                            ></v-select>
                           </v-col>
                    </v-row>
                    <v-row class="ma-0">
                           <v-col
                              cols="3"
                              class="pa-2"
                           >
                        <date-picker-component
                                dense
                            append-icon="mdi-calendar"
                            label="업무 가능일"
                            v-model="data.workableDay"
                        ></date-picker-component>
                           </v-col>
                    </v-row>
                    <v-row class="ma-0">
                           <v-col
                              cols="3"
                              class="pa-2"
                           >
                            <v-select
                                dense
                                outlined
                                menu-props="auto"
                                label="평가 점수"
                                v-model="data.ratingScore"
                                :items="user.select.ratingScore.items"
                                required
                            ></v-select>
                            </v-col>
                            <v-col cols="9">
                                <v-textarea
                                    dense
                                    outlined
                                    label="비고"
                                    v-model="data.memo"
                                ></v-textarea>
                            </v-col>
                    </v-row>
                    <v-row class="ma-0">
                         <v-spacer></v-spacer>
                        <v-card-actions>
                            <v-btn
                            class="primary"
                            :disabled="!(user.valid)"
                             @click="saveUserInfo()"
                            >저장하기</v-btn>
                            <v-btn
                            class="secondary"
                             @click="reset"
                            >초기화 하기</v-btn>
                        </v-card-actions>
                         </v-row>
                      </v-container>
                     </v-form>
                   </v-expansion-panel-content>
             </v-expansion-panel>
        </v-col>
    </v-row>

</v-container>